@@include("../blocks/modules/header/header.html")
<div class="page">
    <div class="header">
        <div class="result">
            <h1>Обувь</h1>
            <p class="mln">3 254 653 результата</p>
        </div>
        @@include("../blocks/modules/buttons_category/buttons_category.html")
        @@include("../blocks/modules/buttons_mobile/buttons_mobile.html")
    </div>
    <div class="box">
        <div class="sidebar">
            @@include("../blocks/modules/drop-down menu/drop-down menu.html")
            <div class="all_section">
                <svg fill="currentColor" class="arrow" viewBox="0 0 32 32">
                    <path fill-rule="evenodd"
                        d="M12.707 8.373a1 1 0 00-1.414-1.414l-8.667 8.666a1 1 0 000 1.415l8.667 8.667a1 1 0 101.414-1.415l-6.96-6.96 22.922-.011a1 1 0 10-.001-2l-22.92.011 6.96-6.96z"
                        clip-rule="evenodd"></path>
                </svg>
                <a href="##" class="sections">Все разделы</a>
            </div>
            @@include("../blocks/modules/checkboxes/checkboxes.html")
            <h2>Цена</h2>
            @@include("../blocks/modules/radiobutton_price/radiobutton_price.html")
            @@include("../blocks/modules/price_field/price_field.html")
            <div class="all_section">
                <svg fill="currentColor" class="arrow" viewBox="0 0 32 32">
                    <path fill-rule="evenodd"
                        d="M12.707 8.373a1 1 0 00-1.414-1.414l-8.667 8.666a1 1 0 000 1.415l8.667 8.667a1 1 0 101.414-1.415l-6.96-6.96 22.922-.011a1 1 0 10-.001-2l-22.92.011 6.96-6.96z"
                        clip-rule="evenodd"></path>
                </svg>
                <a href="##" class="sections">Любая категория</a>
            </div>
            <div class="all_section">
                <svg fill="currentColor" class="arrow" viewBox="0 0 32 32">
                    <path fill-rule="evenodd"
                        d="M12.707 8.373a1 1 0 00-1.414-1.414l-8.667 8.666a1 1 0 000 1.415l8.667 8.667a1 1 0 101.414-1.415l-6.96-6.96 22.922-.011a1 1 0 10-.001-2l-22.92.011 6.96-6.96z"
                        clip-rule="evenodd"></path>
                </svg>
                <a href="##" class="sections">Обувь</a>
            </div>
            @@include("../blocks/modules/radiobutton_category/radiobutton_category.html")
        </div>
        @@include("../blocks/modules/products/products.html")
    </div>
</div>
@@include("../blocks/modules/footer/footer.html")